$logo-height: 50px;
$header-height: $logo-height * 3;

// Common colors
$text-color: #575756;
$gray: #f0f0f0;
$light-gray: #fafafa;
$border-color: #d6d6d6;
$dropdown-background: $border-color;

$vol-up: #2b9729;
$vol-down: #a0021d;
$bkb-black: $text-color;
$btn-green: #4dbd74;

$wv-orange: #f94914;
